@charset "utf-8";

:root {
  --font-path: 'fonts/';
}

/* data-table font */
@font-face {
  font-family: "data-table";
  font-style: normal;
  font-weight: normal;
  src: url(var(--font-path) "data-table-icons.eot?#iefix") format("embedded-opentype"), url(var(--font-path) "data-table-icons.woff") format("woff"), url(var(--font-path) "data-table-icons.ttf") format("truetype"), url(var(--font-path) "data-table-icons.svg") format("svg");
  src: url(var(--font-path) "data-table-icons.eot");
}

[data-icon]::before {
  content: attr(data-icon);
  font-family: "data-table" !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  speak: none;
  text-transform: none !important;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "data-table" !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  speak: none;
  text-transform: none !important;
}

.icon-filter::before {
  content: "b";
}

.icon-collapse::before {
  content: "a";
}

.icon-expand::before {
  content: "c";
}

.icon-close::before {
  content: "d";
}

.icon-up::before {
  content: "e";
}

.icon-down::before {
  content: "f";
}

.icon-sort::before {
  content: "g";
}

.icon-done::before {
  content: "h";
}

.icon-done-all::before {
  content: "i";
}

.icon-search::before {
  content: "j";
}

.icon-pin::before {
  content: "k";
}

.icon-add::before {
  content: "m";
}

.icon-left::before {
  content: "o";
}

.icon-right::before {
  content: "p";
}

.icon-skip::before {
  content: "q";
}

.icon-prev::before {
  content: "r";
}
