.dt {
  justify-content: center;
  overflow: hidden;
  position: relative;
  visibility: hidden;

  &.dt-loaded {
    visibility: visible !important;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .dt-clone {
    opacity: 0.4;

    .dt-resize-handle {
      visibility: hidden;
    }
  }

  .dt-cell,
  .dt-header-cell {
    line-height: 1.625;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-touch-callout: none;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
  }

  .dt-row,
  .dt-header-inner {
    display: flex;
    flex-flow: row;
    flex-direction: row; /* stylelint-disable-line order/properties-alphabetical-order */
  }

  .dt-row-left,
  .dt-row-right {
    z-index: 9;
  }

  .dt-row-left,
  .dt-row-center,
  .dt-row-right {
    position: relative;
  }

  .dt-header {
    overflow: hidden;

    .dt-header-inner {
      align-items: stretch;
      white-space: nowrap;
    }

    .dt-header-cell {
      display: inline-block;
      position: relative;
      white-space: nowrap;

      &.dt-drag-over {
        background: #eee;
      }

      &.sortable {
        .dt-header-cell-label {
          cursor: pointer;
        }
      }

      .sort-btn {
        display: inline-block;
        font-size: 0.7rem;
        vertical-align: super;
        visibility: hidden;

        &.sort-desc,
        &.sort-asc {
          visibility: visible;
        }

        &::before {
          font-size: 1.2rem;
          vertical-align: bottom;
        }
      }

      .dt-resize-handle {
        bottom: 0;
        cursor: ew-resize;
        display: inline-block;
        padding: 0 5px;
        position: absolute;
        right: 0;
        top: 0;
        visibility: hidden;
        width: 5px;
      }

      &.resizable:hover {
        .dt-resize-handle {
          visibility: visible;
        }
      }

      &:last-child {
        .dt-resize-handle {
          visibility: hidden !important;
        }
      }
    }
  }

  .dt-body {
    overflow: auto;
    position: relative;
    z-index: 10;

    .dt-body-scroller {
      white-space: nowrap;
    }

    .dt-group-row {
      outline: none;
    }

    .dt-row {
      backface-visibility: hidden;
      outline: none;
      white-space: nowrap;

      > div {
        display: flex;
      }
    }

    .dt-tree-toggle {
      cursor: pointer;
    }
  }

  .dt-footer {
    .page-count {
      display: inline-block;
    }

    .dt-pager {
      display: inline-block;
      float: right;

      .pager,
      .pager li {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .pager {
        li,
        li a {
          display: inline-block;
          outline: none;
        }
      }
    }
  }

  &.fixed {
    .dt-body .dt-row,
    .dt-body .dt-group-row {
      position: absolute;
    }
  }
}
